@property --numb-teachers {
    syntax: "<integer>";
    initial-value: 600;
    inherits: false;
  }
  .teachers {
    animation: counter-teachers 2s ease-in-out;
    counter-reset: numb-teachers var(--numb-teachers);
    font: 25px system-ui;
  }
  
  .teachers::after {
    content: counter(numb-teachers);
  }
  
  @keyframes counter-teachers {
    from {
      --numb-teachers: 0;
    }
    to {
      --numb-teachers: 600;
    }
  }


  @property --numb {
    syntax: "<integer>";
    initial-value: 10000;
    inherits: false;
  }
  .students {
    animation: counter 5s ease-in-out;
    counter-reset: numb var(--numb);
    font: 25px system-ui;
  }
  
  .students::after {
    content: counter(numb);
  }
  
  @keyframes counter {
    from {
      --numb: 0;
    }
    to {
      --numb: 10000;
    }
  }





.top-dart{
    padding: 20px;
    padding-top: 40px !important;
    height: 80%;
}

.carousel-inner{
    width: 45% !important;
    margin-right: 5%;
    height: 80% !important;
    float: right !important;
    border-radius: 30px !important;
    overflow: hidden;
    border: 0;
}

.topright{
    position: absolute;
    height: 100px;
    width: 100px;
    background-color: #ffffff !important;
    z-index: 250;
    right: -30px;
    top: -35px;
    border-radius: 30px;
    border: solid 25px #ffffff;
}
.toprightbottom{
    position: absolute;
    height: 60px;
    width: 50px;
    background-color: transparent !important;
    z-index: 250;
    right: -25px;
    top: 50px;
    border-top-right-radius: 50px;
    border-right: solid 25px #ffffff;
    border-top: solid 15px #ffffff;
}
.toprightside{
    position: absolute;
    height: 60px;
    width: 100px;
    background-color: transparent !important;
    z-index: 250;
    right: 44px;
    top: -15px;
    border-top-right-radius:50px;
    border-right: solid 25px #ffffff;
    border-top: solid 15px #ffffff;
}

.bottomleft{
    position: absolute;
    height: 100px;
    width: 100px;
    background-color: #ffffff !important;
    z-index: 250;
    left: -30px;
    bottom: -35px;
    border-radius: 20px;
    border: solid 25px #ffffff;
}
.bottomrightside{
    position: absolute;
    height: 60px;
    width: 100px;
    background-color: transparent !important;
    z-index: 260;
    left: 44px;
    bottom: -15px;
    border-bottom-left-radius:50px;
    border-left: solid 25px #ffffff;
    border-bottom: solid 15px #ffffff;
}
.bottomrighttop{
    position: absolute;
    height: 60px;
    width: 50px;
    background-color: transparent !important;
    z-index: 250;
    left: -25px;
    bottom: 50px;
    border-bottom-left-radius: 50px;
    border-left: solid 25px #ffffff;
    border-bottom: solid 15px #ffffff;
}

.carousel-image{
    float: right;
    width: 100% !important;
    height: 500px !important;
}

.lefted{
    position: absolute;
    height: 450px;
    width: 50% !important;
    padding: 5% 5% 5% 5%;    
}

.brill{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000 !important;
}

.join-with-us{
    margin-top: 10%;
}

.join-us-button{
    border-radius: 25px;
    background-color: #2f855a;
    color: #ffffff !important;
}

a{
    color: #2f855a;
}

.about{
    padding-top: 10%;
    color: #737475;
}

.partners{
    position: relative;
    background-color: #2f855a;
    height: 100px;
    margin-top: 45%;
    padding: 15px;
    padding-left: 7%;
}

.lagos{
    font-size: 40px !important;
    color: #ffffff;
    font-family: Ubuntu, Verdana, sans-serif !important;
}

.fa4{
    font-size: 35px;
}

#ourPlans{
    margin-top: 3%;
    padding: 5%;
}

.first-section h2,
.first-section .my-cards{
    visibility: hidden;
    opacity: 0;
    transform: translateY(100px);
    transition: transform 1s, opacity 1s;
}

.first-section .my-cards{
    transition-delay: 600ms;
}
.first-section.visible :is(h2, .my-cards){
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);
}


.second-section h2,
.second-section .card{
    /* color: #390303; */
    visibility: hidden;
    opacity: 0;
    transform: translateY(100px);
    transition: transform 1s, opacity 1s;
}
.card {
    --bg-opacity: 1;
    background-color: #fff;
    background-color: rgba(255, 255, 255, var(--bg-opacity));
    border-radius: 0.5rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
      0 4px 6px -2px rgba(0, 0, 0, 0.05);
  }
  

.second-section .card{
    transition-delay: calc(var(--index) * 300ms);
}
.second-section.visible :is(h2, .card){
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);
}

.grey-text{
    color: #737475;
}

.small-grey{
    color: #737475;
    font-size: 80%;
    margin-top: 2%;
}

.plan-card{
    padding: 5%;
    background-color: #f3f2f2;
    border-radius: 20px;
}
.green{
    color: #2f855a;
}

.plan-icon{
    font-size: 45px;
    margin-bottom: 10px;
    color: #2c1811;
}

.card-title{
    color: #2f855a;
}

.my-cards{
    margin-top: 5%;
}

#our-programs{
    background-color: #021609;
    padding: 5%;
    color: #ffffff;
}
.brills{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.lists{
    padding: 5% 10%;
}
.lap-col{
    padding: 5% 5%;
}
.laptop{
    position: relative;
    margin-left: 5%;
    border-radius: 20px !important;
    width: 90%;
}

.foots{
    padding-left: 45px;
}
.adjective{
    color: #2f855a !important;
    font-weight: bold;
}

.unit{
    color: #737475;
    font-family: sans-serif;
    font-size: 70%;
}

.stats{
    padding-top: 10%;
}

.numbers{
    font-weight: bold;
    font: 25px system-ui;
}
.support{
    color: #ffffff;
    padding-top: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
}
.customers{
    padding: 5%;
}
.top-customers{
    text-align: center;
}
.word{
    padding: 5%;
}
.comments {
    overflow-x: scroll;
    overflow: hidden;
    
  }
  .second-section h2,
  .second-section.card{
    opacity: 0;
    visibility: hidden;
    transform: translateY(100px);
    transition: transform 1s, opacity 1s;
  }

  .second-section.card{
    transition-delay: 300ms;
  }

  .second-section.visible :is(h2, .card){
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);

  }
  
  .scrollable-container {
    display: flex;
    width: 100%;
    padding: 10px;
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .scrollable-container::-webkit-scrollbar {
    display: none;
  }
  .scrollable-content {
    display: flex;
  }

  .comment {
    margin-right: 10px; /* Adjust the spacing between cards as desired */
    flex-shrink: 0;
    background-color: #f9f6f6;
    border-radius: 20px;
    padding: 10px;
  }

.rating {
    margin-top: 5px;
  }
  
  .rating i {
    color: #ffc107;
  }

  .contact-ready{
    background-color: #021609;
    padding: 5%;
    padding-left: 5%;
    border-radius: 20px;
  }

  .ready{
    font-size: 45px;
    color: #ffffff;
    float: left;
  }

@media screen and (max-width: 700px) {

    .card{
        margin-bottom: 15px !important;
    }
    .lefted{
        z-index: 170;
        width: 100% !important;
        height: 300px;
        text-align: center;
        background-color: rgba(112, 133, 120, 0.4);
        
    }
    .partners{
        margin-top: 310px;
        height: 100px;
    }

    .support-span{
        display: none;
    }
    .brill{
        width: 67%;
    }

    .join-with-us{
        align-content: left;
        padding-left: 0px !important;
    }

    .join-us-button{
        margin-left: -50px;
    }
    .know-more{
        margin-top: 5px !important;
        color: #ffffff !important;
    }

    .know-more a{
        color: #ffffff;
    }

    .stats{
        padding-top: 20px;
        font-weight: bold;

    }
    
   
    .lagos{
        font-size: 25px !important;
        padding-top: 10px;
        text-align: left !important;
    }
    .topright, .toprightside, .toprightbottom, .bottomleft, .bottomrightside, .bottomrighttop{
        display: none;
    }

    .lefted .brill{
        text-align: left;
        font-size: 25px;
        padding-bottom: 0px;
    }

    .carousel{
        width: 100%;
        padding: 0;
    }

   

    .carousel-inner{
        width: 1000px !important;
        border-radius: 0px !important;
        padding: 0;
        margin: 0;
    }

    .navcontainer{
        padding: 0%;
    }
    .join-with-us{
        margin-top: 0px;
        padding-top: 0;
    }

    .about{
        display: none;
    }

    .lefted span{
        color: #ffffff;

    }


    .carousel-inner{
        width: 100% !important;
        height: 50% !important;
    }

    
.carousel-image{
    float: right;
    width: 100% !important;
    height: 300px !important;
}
}