<!-- 
<div class="container-fluid header-with-color">
<div class="container top">
  <div class="row">
    <div class="col align-self-start">
      <i class="fa-solid fa-phone-volume"></i>
      <i class="fa-regular fa-phone"></i>
      One of three columns
    </div>
    <div class="col align-self-center">
      One of three columns
    </div>
    <div class="col align-self-end">
      One of three columns
    </div>
  </div>
</div>
</div> -->
<div class=" navcontainer sticky-top">
<nav class="navbar container-fluid navbar-expand-lg navbar-light bg-light sticky-top">
  <div class="container">
    <a class="navbar-brand main-logo" href="#">
      <img src="../assets/Logo/logo.png" alt="" width="40" height="24" class="d-inline-block align-text-top">
      
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse navibar" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item mobile-logo">
          <a class="navbar-brand" href="#">
            <img src="../assets/Logo/logo.png" alt="" width="40" height="24" class="d-inline-block align-text-top">
            
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">
            <i class="fas fa-home"></i> Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="fas fa-book"></i> Learning Program
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="fas fa-info-circle"></i> About Us
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="fas fa-envelope"></i> Contact Us
          </a>
        </li>
        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Our Plans
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li> -->
      </ul>
    </div>
    <div class="d-flex">
      <!-- <button type="button" class="btn btn-light">Login</button> -->
      <button type="button" class="btn login-btn">Login</button>
    </div>
  </div>
</nav>
<app-homepage></app-homepage>



<div class=" my-5">
  <!-- Footer -->
  <footer class="text-center text-lg-start"
          >
    <!-- Grid container -->
    <div class=" pb-0">
      <!-- Section: Links -->
      <section class="foots">
        <!--Grid row-->
        <div class="row">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">
              <img src="../assets/Logo/logo.png" alt="" width="40" height="24" class="d-inline-block align-text-top">
          
            </h6>
            <p class="small-grey">
              Here is a physical location that you can easily locate us. Lorem ipsum dolor sit amet, consectetur adipisicing
              elit.
            </p>
          </div>
          <!-- Grid column -->

          <hr class="w-100 clearfix d-md-none" />

          <!-- Grid column -->
          <div class="col-md-2 footer-products col-lg-2 col-xl-2 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">Products</h6>
            <p> <a class="small-grey">Learning Program</a>
            </p>
            <p>
              <a class="small-grey">Our Plans</a>
            </p>
            <p>
              <a class="small-grey">About Us</a>
            </p>
            <p>
              <a class="small-grey">Contact Us</a>
            </p>
          </div>
          <!-- Grid column -->

          <hr class="w-100 no-mobile clearfix d-md-none" />

          <!-- Grid column -->
          <div class="col-md-3 footer-links col-lg-2 col-xl-2 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">
              Useful links
            </h6>
            <p>
              <a class="text-grey small-grey">Your Account</a>
            </p>
            <p>
              <a class="text-grey small-grey">Become an Affiliate</a>
            </p>
            <p>
              <a class="text-grey small-grey">Shipping Rates</a>
            </p>
            <p>
              <a class="text-grey small-grey">Help</a>
            </p>
          </div>

          <!-- Grid column -->
          <hr class="w-100 no-mobile clearfix d-md-none" />

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
            <p><a class="fas fa-home mr-3"></a><span class="small-grey"> Badagry, No. 10 No way Home</span></p>
            <p><a class="fas fa-envelope mr-3"></a><span class="small-grey"> info&#64;gmail.com</span></p>
            <p><a class="fas fa-phone mr-3"></a><span class="small-grey"> + 01 234 567 88</span></p>
            <p><a class="fas fa-print mr-3"></a><span class="small-grey"> + 01 234 567 89</span></p>
          </div>
          <!-- Grid column -->
        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Links -->

      <hr class="my-3">

      <!-- Section: Copyright -->
      <section class="p-3 pt-0">
        <div class="row d-flex align-items-center">
          <!-- Grid column -->
          <div class="col-md-7 col-lg-8 text-center text-md-start">
            <!-- Copyright -->
            <div class="p-3">
              © 2024 Copyright:
              <a class="" href="https://mdbootstrap.com/"
                 >Edumag.com</a
                >
            </div>
            <!-- Copyright -->
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-5 col-lg-4 ml-lg-0 text-center text-md-end">
            <!-- Facebook -->
            <a
               class="btn btn-outline-light btn-floating m-1"
               role="button"
               ><i class="fab fa-facebook-f"></i
              ></a>

            <!-- Twitter -->
            <a
               class="btn mr-3 btn-outline-light btn-floating m-1"
               role="button"
               ><i class="fab fa-twitter"></i
              ></a>

            <!-- Google -->
            <a
               class="btn m-3 btn-outline-light btn-floating m-1"
               role="button"
               ><i class="fab fa-google"></i
              ></a>

            <!-- Instagram -->
            <a
               class="btn btn-outline-light btn-floating m-1"
               role="button"
               ><i class="fab fa-instagram"></i
              ></a>
          </div>
        </div>
      </section>
    </div>
  </footer>
</div>
<!-- End of .container -->
</div>