<!-- 
<div class="container-fluid header-with-color">
<div class="container top">
  <div class="row">
    <div class="col align-self-start">
      <i class="fa-solid fa-phone-volume"></i>
      <i class="fa-regular fa-phone"></i>
      One of three columns
    </div>
    <div class="col align-self-center">
      One of three columns
    </div>
    <div class="col align-self-end">
      One of three columns
    </div>
  </div>
</div>
</div> -->
<div class=" navcontainer sticky-top">
<nav class="navbar container-fluid navbar-expand-lg navbar-light bg-light sticky-top">
  <div class="container">
    <a class="navbar-brand main-logo" href="#">
      <img src="../assets/Logo/logo.png" alt="" width="40" height="24" class="d-inline-block align-text-top">
      
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse navibar" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item mobile-logo">
          <a class="navbar-brand" href="#">
            <img src="../assets/Logo/logo.png" alt="" width="40" height="24" class="d-inline-block align-text-top">
            
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">
            <i class="fas fa-home"></i> Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="fas fa-book"></i> Learning Program
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="fas fa-info-circle"></i> About Us
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="fas fa-envelope"></i> Contact Us
          </a>
        </li>
        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Our Plans
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li> -->
      </ul>
    </div>
    <div class="d-flex">
      <!-- <button type="button" class="btn btn-light">Login</button> -->
      <button type="button" class="btn login-btn">Login</button>
    </div>
  </div>
</nav>
<app-homepage></app-homepage>

</div>